<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My personal server</title>
</head>

<body>
  <h1>Bookmarks</h1>
  <div id="message"></div>
  <button id="update-btn">Replace Yoda's quote</button>
  <button id="delete-button">Delete Darth Vadar's quote</button>
  <form action="/bookmarks" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="quote" name="quote">
    <button type="submit">Submit</button>
  </form>
  <ul>
    <% for(var i=0; i < bookmarks.length; i++) {%>
      <li>
        <span><%= bookmarks[i].name %></span>: 
        <span><%= bookmarks[i].quote %></span>
      </li>
    <% } %>
  </ul>
  <script src="/main.js"></script>
</body>

</html>